* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
}




.logo-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.logo-banner img {
    position: relative;
    width: 10%;
    padding-bottom: 20px;
    padding-top: 10px;
  
}


@media only screen and (max-width: 1200px) {
    .logo-banner img {
        width: 20%;
    }

   
}

#close {
    display: none;
}

#bars {
    display: none;
    color:limegreen;
}

@media screen and (max-width: 1000px) {
    #bars {
        display:block;
    }

   #navbar {
       display: none;
   }
}


nav {
    height: 10vh;
    opacity: 0.9;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: linear-gradient(green, limegreen);
    overflow: hidden;
    
}

@keyframes drop {
    0% {
        height: 10vh
    }
    100% {
        height: 50vh
    }
}

@keyframes hide {
    0% {
        height: 50vh
    }
    100% {
        height: 0vh
    
    }
}


@media screen and (min-width: 1536px) {
    nav ul {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    nav ul {
        margin-bottom: 30px;
    }


}

@media screen and (max-width: 414px) {
    nav ul li a {
        font-size: 1rem;
    }
    nav ul {
        margin: 0;
    }
}








nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  
   
}



nav ul li {
    margin-right: 100px;
    
}



nav ul li a {
      text-decoration: none;
      color: white;
      font-family: 'Josefin Slab', serif;
      letter-spacing: 0.1cm;
      font-weight: bold;
}

nav ul li a:hover {
    color: black;
}


@media screen and (max-width: 900px){


nav ul li a:hover {
    border-left: 2px solid white;
    padding-left: 5px;
    color: black;
}

}

nav li i {
    padding: 5px;
    color: white;
}






.header {
    height: 100vh;
    background: url(images/header-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
   

}

.header p{
    width: 75%;
    padding-bottom: 20px;
    text-align: center
}

.header h1 {
    font-family: 'Suez One', serif;
    letter-spacing: 0.3cm;
    padding: 40px;
    font-size: 35px;
    text-align: center;
  
}

.header h2 {
   
    letter-spacing: 0.2cm;
    padding: 20px;
}

.header button {
    padding: 10px;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
    font-family: 'Suez One', serif;
    opacity: 0.9;

    background: linear-gradient(green, limegreen);

   
}



#col1 {
    display: flex;
    align-items: center;
    justify-content: center;
   
 flex-direction: column;
 flex-wrap: wrap;
   
}

#about {
 padding: 50px;
 display: flex;

 
}

#about .text p {
    font-family: 'Josefin Slab', serif;
    font-size: 4rem;
    color: limegreen;
    text-shadow: 2px 2px 10px;
    transform: rotateZ(-10deg);
    
}

#about .text h2 {
    font-family: 'Suez One', serif;
    letter-spacing: 0.2cm;
   
}

#about #about-text p {
    font-weight:lighter;
    font-family: Arial, Helvetica, sans-serif;
    
}


.services #service-background {
    background: url(images/work2.jpg);
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   
   
}

#service-background h2 {
    font-size: 40px;
    font-family: 'Suez One', serif;
    text-align: center;
    
}

#landscape-col1 {
    display: flex;
    justify-content: center;
    background: linear-gradient(green, limegreen);
    color: white;
    align-items: center;
    text-align: center;
    

}

#landscape-col1 ul {
    list-style-type: none;
    
}

#landscape-col1 ul li {
    line-height: 35px;
 }

#maintenance-background {
    background: url(images/work.jpg);
    height: 55vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maintenance-background h2 {
   font-size: 40px;
    color: white;
    font-family: 'Suez One', serif;
    text-align: center;
}



#maintenance-col2 {
    display: flex;
    justify-content: center;
    /* background: #4c4e50; */
    background: linear-gradient(limegreen, green);
    color: white;
  text-align: center;
    align-items: center;
}


#maintenance-col2 ul {
    list-style-type: none;
}

#maintenance-col2 ul li {
   line-height: 35px;
}



.navbar-light .navbar-nav .nav-link {
    color: white;
}

.gallery .container {
    display: flex;
    justify-content: center;
 
}

#gallery-col1 {
    display: flex;
    flex-direction: column;
}

.gallery h2 {
    font-family: 'Suez One', serif;
    letter-spacing: 0.2cm;
    padding-top: 60px;
    
}

.gallery p {
    font-family: 'Josefin Slab', serif; 
    text-align: center;
     transform: rotateZ(-10deg);
     font-size: 4rem;
     color:limegreen;
     text-shadow: 2px 2px 20px;
}

.gallery img {
    width: 100%;
    padding: 20px;
   
}

#landscaping-text {
    color: limegreen;
    text-shadow: 2px 2px 20px;
    
}


.contact {
    height: 40vh;
    background: linear-gradient(limegreen, green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact p {
    color: white;
    font-size: 15px;
    font-family: 'Josefin Slab', serif; 
    font-weight: bold;
    
}

.icons i {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 20px;
}


#carouselExampleCaptions {
    width: 80%;


}